/*
Example Nextflow configuration profile

To use on Quest: replace 'a9009' with your allocation and 'queue' 
with the appropriate partition in the 'quest' profile!
*/

singularity {
  enabled = true
  autoMounts = true
}

profiles {

  local_node {
    executor {
      name = 'local'
    }
    process {
      container = 'rnaseq-nf.simg'
      cpus = 1
      time = '1h'
      memory = '1GB'
    }
  }

  quest_slurm {
      executor {
        name = 'slurm'
        submitRateLimit = '3sec'
        queueSize = 50
      }
      process {
        container = 'rnaseq-nf.simg'
        clusterOptions = '-A a9009'
        queue = 'a9009'
        cpus = 1
        time = '2h'
        memory = '16GB' 
      }
  }
}

