singularity {
  enabled = true
  autoMounts = true
}

// replace 'a9009' with your allocation and 'queue' with the appropriate partition
process {
  container = 'rnaseq-nf.simg'
  clusterOptions = '-A a9009'
  queue = 'a9009'
  cpus = 1
  time = '2h'
  memory = '16GB' 
}

executor {
  name = 'slurm'
  submitRateLimit = '3sec'
  queueSize = 50
}

