manifest {
  nextflowVersion = '>= 22.04.0'
}

singularity {
  enabled = true
  autoMounts = true
}

profiles {

  local_node {
    executor {
      name = 'local'
    }
    process {
      container = 'nextflow/examples'
      cpus = 1
      time = '1h'
      memory = '1GB'
    }
  }

  quest_slurm {
      executor {
        name = 'slurm'
        submitRateLimit = '3sec'
        queueSize = 50
      }
      process {
        container = 'nextflow/examples'
        clusterOptions = '-A a9009'
        queue = 'a9009'
        cpus = 1
        time = '2h'
        memory = '16GB'
      }
  }
}


