manifest {
    nextflowVersion = '>= 22.04.0'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /scratch:/scratch -B /projects:/projects'
}

profiles {
    // this profile executes processes as jobs submitted to Slurm
    quest_slurm {
        process {
            // these are the Slurm options for CPU (i.e., non-GPU) portions of the workflow
            clusterOptions = "-A a9009"
            queue = "a9009"
            cpus = 1
            time = '1h'
            memory = '8GB'

            // these are the Slurm options for the GPU portions of the workflow
            withLabel: gpu_process {
                singularity.runOptions = "--nv"
                clusterOptions = "-A p30157 --gres=gpu:a100:1"
                queue = 'gengpu'
                cpus = 1
                time = '4h'
                memory = '8GB'
                maxForks = null
            }
        }
        executor {
            name = 'slurm'
            submitRateLimit = '3sec'
            queueSize = 50
        }
    }
    // this profile executes processes on the node nextflow runs on (i.e., 'locally')
    local_node {
        process {
            cpus = 1
            time = '1h'
            memory = '1GB'
        }
        executor {
            name = 'local'
        }
    }
}
