manifest {
    nextflowVersion = '>= 22.04.0'
}

singularity {
    enabled = true
    autoMounts = true
    // runOptions = '-B /scratch:/scratch -B /projects:/projects'
}

// define process containers -- placeholder
process {

    withName: blast {
        container = 'nextflow/examples'
    }
    withName: top_hits {
        container = 'nextflow/examples'
    }
    withName: extract {
        container = 'nextflow/examples'
    }
    withName: alphafold_cpu {
        container = '/software/AlphaFold/container/2.3.2/alphafold-2.3.2-with-msas-only-and-config-yaml.sif'
    }
    withName: alphafold_gpu {
        container = '/software/AlphaFold/container/2.3.2/alphafold-2.3.2-with-msas-only-and-config-yaml.sif'
    }

}


profiles {
    // this profile executes processes as jobs submitted to Slurm
    quest_slurm {
        process {
            clusterOptions = "-A a9009"
            queue = "a9009"
            cpus = 1
            time = '1h'

            // these are the Slurm options for the GPU portions of the workflow
            withLabel: alphafold_cpu_process {
                containerOptions = '--env PYTHONPATH=/app/alphafold,TF_FORCE_UNIFIED_MEMORY=1,XLA_PYTHON_CLIENT_MEM_FRACTION=4.0,OPENMM_CPU_THREADS=12,LD_LIBRARY_PATH="/opt/conda/lib:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/.singularity.d/libs" -B /projects:/projects -B /hpc/software/AlphaFold/data/v2.3.2/:/data -B .:/etc'
                clusterOptions = "-A a9009"
                queue = 'a9009'
                cpus = 12
                time = '4h'
                memory = '85GB'
                maxForks = null
            }

            // these are the Slurm options for the GPU portions of the workflow
            withLabel: alphafold_gpu_process {
                containerOptions = '--env PYTHONPATH=/app/alphafold,TF_FORCE_UNIFIED_MEMORY=1,XLA_PYTHON_CLIENT_MEM_FRACTION=4.0,OPENMM_CPU_THREADS=12,LD_LIBRARY_PATH="/opt/conda/lib:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/.singularity.d/libs" -B /projects:/projects -B /hpc/software/AlphaFold/data/v2.3.2/:/data -B .:/etc --nv'
                clusterOptions = "-A p30157 --gres=gpu:a100:1"
                queue = 'gengpu'
                cpus = 1
                time = '4h'
                memory = '8GB'
                maxForks = null
            }
        }
        executor {
            name = 'slurm'
            submitRateLimit = '3sec'
            queueSize = 50
        }
    }
    // this profile executes processes on the node nextflow runs on (i.e., 'locally')
    local_node {
        process {
            cpus = 1
            time = '1h'
            memory = '1GB'
        }
        executor {
            name = 'local'
        }
    }
}
